In [1]:
import warnings
warnings.filterwarnings("ignore")

# wrangle
from env import username, password, host
import os

# transform
import numpy as np
import pandas as pd

# visualize 
import matplotlib.pyplot as plt
import seaborn as sns

# working with dates
from datetime import datetime

# modeling
import statsmodels.api as sm
from statsmodels.tsa.api import Holt, ExponentialSmoothing

# evaluate
from sklearn.metrics import mean_squared_error
from math import sqrt

In [2]:
url = 'https://ds.codeup.com/saas.csv'
df = pd.read_csv(url)
print('shape:', df.shape)

shape: (790458, 5)

In [3]:
df.head(3)

  Month_Invoiced  Customer_Id  Invoice_Id  Subscription_Type  Amount
0     2014-01-31      1000000     5000000                0.0     0.0
1     2014-01-31      1000001     5000001                2.0    10.0
2     2014-01-31      1000002     5000002                0.0     0.0

In [4]:
df.shape

(790458, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790458 entries, 0 to 790457
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Month_Invoiced     790458 non-null  object
 1   Customer_Id        790458 non-null  int64
 2   Invoice_Id         790458 non-null  int64
 3   Subscription_Type  790458 non-null  float64
 4   Amount             790458 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 30.2+ MB

In [6]:
def prep_saas_data(df):
    '''
    Prepares raw store data for analysis and time series modeling.
    '''
    df.Month_Invoiced = pd.to_datetime(df.Month_Invoiced)
    df = df.rename(columns={'Month_Invoiced': 'date', 'Customer_Id': 'customer_id', 'Invoice_Id': 'sale_id', 'Subscription_Type': 'type_id', 'Amount': 'amount'})
    df = df.set_index('date').sort_index()
    #engineer sales total by multiplying quantity by item price
    return df

In [7]:
df = prep_saas_data(df)

In [8]:
df.head()

            customer_id  sale_id  type_id  amount
date
2014-01-31      1000000  5000000      0.0     0.0
2014-01-31      1000001  5000001      2.0    10.0
2014-01-31      1000002  5000002      0.0     0.0
2014-01-31      1000003  5000003      0.0     0.0
2014-01-31      1000004  5000004      1.0     5.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 790458 entries, 2014-01-31 to 2017-12-31
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   customer_id  790458 non-null  int64
 1   sale_id      790458 non-null  int64
 2   type_id      790458 non-null  float64
 3   amount       790458 non-null  float64
dtypes: float64(2), int64(2)
memory usage: 30.2 MB

In [10]:
df.shape

(790458, 4)

In [ ]:
df_resampled = df.resample('d')[['']]